.about-bg {
	background: var(--color-primary);
	height: auto;
}

.about-bg .container {
	margin: 10rem auto;
}

.section-about {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 5rem;
	align-items: center;
	width: 90%;
	height: 100%;
	background: var(--color-primary-bg);
	box-shadow: var(--color-secondary) 0px 10px 15px -5px;
	border-radius: 30px;
}

.about-text-persona {
	text-align: center;
	max-width: 80ch;
}

.about-text-persona p {
	margin-top: 1.5rem;
	line-height: 1.3;
}

.about-text-dados {
	display: flex;
	gap: 4rem;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.dados {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.img-dados {
	padding: 20px 20px;
	background: var(--color-primary);
	border-radius: 50%;
}

.dados a:hover {
	color: var(--color-secondary);
}

@media screen and (max-width: 1280px) {
	.about-bg .container {
		margin: 5rem auto;
	}

	.section-about {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 5rem;
	}
}

@media screen and (max-width: 650px) {
	.about-text-dados {
		gap: 4rem;
	}
	.dados:first-child {
		display: none;
	}

	.dados {
		gap: 0.5rem;
	}
}

@media screen and (max-width: 450px) {
	.about-text-persona p {
		margin-top: 1rem;
		line-height: 1.3;
		gap: 1rem;
		justify-content: space-around;
		align-items: center;
	}

	.text-list {
		font-size: 1rem;
		flex: 1;
		text-align: left;
		font-weight: semibold;
	}

	.img-dados {
		padding: 10px 10px;
		background: var(--color-primary);
		border-radius: 50%;
	}

	.dados h3 {
		font-size: 1rem;
	}

	.dados a {
		font-size: 0.75rem;
	}
}
