[data-anime='show-down']section {
	display: none;
}

[data-anime='show-down'].show-down.ativo {
	display: block;
	animation: show-down 1s forwards;
}

@keyframes show-right {
	from {
		opacity: 0;
		transform: translate3d(-30px, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes show-down {
	from {
		opacity: 0;
		transform: translate3d(0, -60px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.js [data-anime='accordion'] dd {
	display: none;
}

[data-anime='accordion'] dt::after {
	content: '↴';
	margin-left: 10px;
}

[data-anime='accordion'] dt.ativo::after {
	content: '⬑';
}

[data-anime='accordion'] dd.ativo {
	display: block;
	animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
	from {
		opacity: 0;
		max-height: 0;
	}
	to {
		max-height: 300px;
		opacity: 1;
	}
}

[data-anime='scroll'] {
	opacity: 0;
	transform: translate3d(0, -60px, 0);
	transition: 1s;
}

[data-anime='scroll'].scrollAnima {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

/* 6 Adicione o CSS Essêncial abaixo */
[data-intro] {
	opacity: 0;
}
.intro {
	opacity: 1;
	transform: none;
	transition: transform 0.8s, opacity 0.8s;
}

/* 7 CSS personalizado dependendo da animação desejada */
.fadeInDown {
	transform: translate3d(0, -20px, 0);
}
.fadeInUp {
	transform: translate3d(0, 20px, 0);
}
.fadeInRight {
	transform: translate3d(20px, 0, 0);
}
.fadeInLeft {
	transform: translate3d(-20px, 0, 0);
}
