.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #ccc;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 20px;
	width: 40px;
	transform: scale(1.5);
}

.label .ball {
	background-color: var(--color-primary);
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 22px;
	height: 16px;
	width: 16px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(-20px);
}

body.light .header-bg {
	background: none;
}
