.section-contato {
	background: var(--color-primary-bg);
	box-shadow: var(--color-secondary) 0px 10px 15px -5px;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	padding: 40px 40px;
}

.section-contato .texto {
	color: var(--color-secondary);
}

.form-group input {
	width: 20rem;
	height: 3rem;
	border-radius: 0.5rem;
	border: 0;
	padding: 10px 10px;
	font-size: 1.5rem;
}

.form-group textarea {
	width: 20rem;
	height: 10rem;
	border-radius: 0.5rem;
	border: 0;
	padding: 10px 10px;
	font-size: 1.5rem;
	resize: none;
}

.form-group input:focus {
	outline: 0.2rem solid var(--color-secondary);
}

.form-group textarea:focus {
	outline: 0.2rem solid var(--color-secondary);
}

/*form home*/
.form-home {
	position: absolute;
	top: 0;
	left: 35%;
	z-index: 999;
	width: 30%;
	min-width: 300px;
	display: none;
}

.form-home form {
	position: relative;
}

.form-home .close-form-home {
	position: absolute;
	width: 36px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.show-form-home {
	display: block;
}

.sucesso {
	display: none;
}

.enviado {
	display: none;
}

.enviado-sucesso {
	display: block;
}

@media screen and (max-width: 1280px) {
	/*form home*/
	.form-home {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
		width: 100%;
	}

	.form-home form {
		position: relative;
	}

	.form-home .close-form-home {
		position: absolute;
		width: 36px;
		top: 20px;
		right: 20px;
		cursor: pointer;
	}
}
