/* 5 Adicione o CSS Essencial abaixo */
[data-slide] {
	position: relative;
}
[data-slide] > * {
	position: absolute;
	top: 0px;
	opacity: 0;
}
[data-slide] > .active {
	position: relative;
	opacity: 1;
	transition: opacity 500ms;
	z-index: 1;
}

/* 6 CSS recomendado para a navegação */
[data-slide-nav] {
	display: block;
	justify-content: center;
	text-align: center;
	margin-top: 20px;
}
[data-slide-nav] > button {
	display: inline-block;
	width: 12px;
	margin: 4px;
	height: 12px;
	border: none;
	padding: 0px;
	border-radius: 6px;
	background: #1d1d1d;
	text-indent: -100px;
	cursor: pointer;
	overflow: hidden;
	transition: background-color 500ms;
}
[data-slide-nav] > button.active {
	background: var(--color-secondary);
}
