.home-bg {
	background: var(--color-primary-bg1);
}

.section-home {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.apresentation-text .subtexto {
	color: var(--color-text);
}

/*form home*/
.form-home {
	position: absolute;
	top: 0;
	left: 35%;
	z-index: 999;
	width: 30%;
	min-width: 300px;
	display: none;
}

.form-home form {
	position: relative;
}

.form-home .close-form-home {
	position: absolute;
	width: 36px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.show-form-home {
	display: block;
}

@media screen and (max-width: 1280px) {
	.section-home {
		flex-direction: column;
		justify-content: center;
		gap: 40px;
	}

	.apresentation-text {
		text-align: center;
	}

	/*form home*/
	.form-home {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
		width: 100%;
	}

	.form-home form {
		position: relative;
	}

	.form-home .close-form-home {
		position: absolute;
		width: 36px;
		top: 20px;
		right: 20px;
		cursor: pointer;
	}
}

@media screen and (max-width: 700px) {
	.apresentation-text p {
		font-size: 2rem;
	}

	.apresentation-text h1 {
		font-size: 4rem;
	}

	.apresentation-text span {
		font-size: 2rem;
	}
}
