.formacao {
	background: var(--color-primary);
}

.formacao-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 100px;
}

.formacao-texto {
	font-size: 1.5rem;
	line-height: 1.33;
	max-width: 40ch;
	margin-bottom: 60px;
}

.formacao-texto strong {
	color: var(--color-secondary);
}

.subtitulo {
	color: var(--color-secondary);
}

.faculdade-lista {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 60px;
}

.faculdade {
	flex: 1;
	background: var(--color-primary-bg);
	box-shadow: var(--color-secondary) 0px 10px 15px -5px;
	border-radius: 30px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	transition: 0.1s ease-in-out;
	transition: background 2s;
}

.faculdade:hover {
	background-color: var(--color-extra2);
	transition: background 2s;
}

.faculdade span:last-child {
	margin-top: 1rem;
}

.faculdade-tipo {
	font-size: 0.875rem;
	text-transform: uppercase;
	color: #a3a3a3;
	margin-bottom: 10px;
}

.faculdade-curso {
	flex: 1;
	font-size: 1.125rem;
	line-height: 1.4;
	margin-bottom: 40px;
	position: relative;
}

.faculdade-curso::before {
	content: '';
	display: block;
	width: 4px;
	height: 20px;
	background: var(--color-secondary);
	position: absolute;
	left: -40px;
}

.faculdade-instituicao {
	font-size: 1.125rem;
}

.pack-tecnologia {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
}

.tecnologia {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	background: var(--color-primary-bg);
	padding: 20px;
	background: var(--color-primary-bg);
	box-shadow: var(--color-secondary) 0px 10px 15px -5px;
	border-radius: 30px;
}

.tecnologia:hover {
	background-color: var(--color-extra2);
	transition: background 2s;
}

@media screen and (max-width: 800px) {
	.formacao-container {
		grid-template-columns: 1fr;
		gap: 20px;
	}

	.formacao-texto {
		font-size: 1.25rem;
	}

	.formacao-extra h3::before {
		position: initial;
		margin-bottom: 10px;
	}

	.list-facul-type {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.subtitulo-skill {
		text-align: center;
	}

	.formacao-texto {
		text-align: center;
	}
}
