.portifolio-bg {
	background-color: var(--color-primary);
}

.portifolio-bg .container {
	margin: 0 auto;
}

.section-portifolio {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.section-portifolio .titulo {
	font-size: 8rem;
}

.section-portifolio .titulo {
	color: var(--color-secondary);
}

.carrousel {
	display: flex;
	gap: 3rem;
	padding-bottom: 1.5rem;
	overflow-x: scroll;
}

.section-portifolio .carrousel .projetos {
	display: flex;
	justify-content: space-around;
	gap: 2rem;
}

.projetos .item-projeto {
	width: 50rem;
	padding: 20px 20px;
	background: var(--color-primary-bg);
}

.projetos .item-projeto img {
	border-radius: 4px;
}

.projeto-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background: var(--color-primary-bg);
	border-radius: 4px;
	gap: 10%;
}

.tecnologia-usada-pack {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-direction: column;
}

.tecSkill {
	width: 32px;
	height: 32px;
}

@media screen and (max-width: 800px) {
	.section-portifolio .titulo {
		text-align: center;
		font-size: 4rem;
	}

	.section-portifolio .carrousel {
		flex-direction: column;
		overflow: hidden;
	}

	.section-portifolio .carrousel .projetos {
		flex-direction: column;
		gap: 1rem;
	}

	.projetos .item-projeto {
		width: 100%;
		padding: 20px 20px;
		background: var(--color-primary-bg);
	}

	.projetos .item-projeto img {
		border-radius: 4px;
	}

	.projeto-description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px;
		background: var(--color-primary-bg);
		border-radius: 4px;
		gap: 50px;
	}
}
