.footer-bg {
	background: var(--color-secondary);
	height: auto;
}

.footer.container {
	margin: 0 auto;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.redes-sociais {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-top: 20px;
	gap: 5rem;
}

.redes-sociais img {
	width: 32px;
	height: 32px;
}

.footer h2 {
	font-size: 2rem;
	color: var(--color-primary);
}

.footer p {
	font-size: 1.5rem;
	color: var(--color-primary);
}

.footer p a {
	color: var(--color-primary);
	border-bottom: 2px solid var(--color-primary);
}

.footer p a:hover {
	font-weight: bold;
}
