* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	background: var(--color-primary);
	color: var(--color-text);
	font-family: sans-serif;
	height: 100%;
	padding: auto auto;
	-webkit-font-smoothing: antialiased;
}

img {
	max-width: 100%;
	height: auto;
}

img[src=''] {
	border-radius: 4px;
}

.container {
	max-width: 1440px;
	margin: 5rem auto;
	padding: 40px 40px;
	height: 100%;
}

.tabsNav {
	display: none;
}

.ativo {
	display: block;
}

/*back-to-top*/
.back-to-top {
	background: var(--color-secondary);

	position: fixed;
	right: 1rem;
	bottom: 1rem;
	z-index: 9999;

	padding: 0.5rem;
	clip-path: circle();

	font-size: 1.5rem;
	line-height: 0;

	visibility: hidden;
	opacity: 0;

	transition: 0.3s;
	transform: translateY(100%);
}

.back-to-top img {
	width: 1.5rem;
	height: 1.5rem;
}

.back-to-top.show {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

@media screen and (max-width: 768px) {
	.container {
		margin: 5rem auto;
		padding: 20px 20px;
	}
}

/*animista*/
.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-fwd {
	0% {
		-webkit-transform: translateZ(-80px);
		transform: translateZ(-80px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes fade-in-fwd {
	0% {
		-webkit-transform: translateZ(-80px);
		transform: translateZ(-80px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

/*animista*/
.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
		both;
	animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
