* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	background: var(--color-primary);
	color: var(--color-text);
	font-family: sans-serif;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

img {
	max-width: 100%;
	height: auto;
}

img[src=''] {
	border-radius: 4px;
}

/*load*/
.loading {
	display: none;
}

.load {
	display: block;
}
/*load*/

.container {
	max-width: 1440px;
	margin: 5rem auto;
	padding: 40px 40px;
	height: 100%;
}

.tabsNav {
	display: none;
}

.ativo {
	display: block;
}

/*back-to-top*/
.back-to-top {
	background: var(--color-secondary);

	position: fixed;
	right: 1rem;
	bottom: 1rem;
	z-index: 9999;

	padding: 0.5rem;
	clip-path: circle(50%);

	font-size: 1.5rem;
	line-height: 0;

	visibility: hidden;
	opacity: 0;

	transition: 0.3s;
	transform: translateY(100%);
}

.back-to-top img {
	width: 1.5rem;
	height: 1.5rem;
}

.back-to-top.show {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

/*scroll*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--color-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color-primary-bg2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@media screen and (max-width: 768px) {
	.container {
		margin: 5rem auto;
		padding: 20px 20px;
	}
}

/*animista*/
/* Float Shadow */
.hvr-float-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-float-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(
		center,
		ellipse,
		rgba(0, 0, 0, 0.35) 0%,
		rgba(0, 0, 0, 0) 80%
	);
	background: radial-gradient(
		ellipse at center,
		rgba(0, 0, 0, 0.35) 0%,
		rgba(0, 0, 0, 0) 80%
	);
	/* W3C */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	/* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	/* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
