* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
html {
	height: 100%;
}

body {
	background: var(--color-primary);
	color: var(--color-text);
	font-family: sans-serif;
	height: 100%;
	padding: auto auto;
}

img {
	max-width: 100%;
	height: auto;
}

img[src=''] {
	border-radius: 4px;
}

.container {
	max-width: 1440px;
	margin: 10rem auto;
	padding: 40px 40px;
	height: 100%;
}

.tabsNav {
	display: none;
}

.ativo {
	display: block;
}

/*arrow to top*/

.arrow-top img {
	width: 2rem;
	height: 2rem;
	background-color: var(--color-secondary);
	border-radius: 50%;
	transition: 0.5s;
}
.arrowtotop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	transition: 0.5s;
}

.openToTop {
	display: block;
	transition: 0.5s;
}

@media screen and (max-width: 768px) {
	.container {
		margin: 5rem auto;
		padding: 20px 20px;
	}
}
