header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.header-bg {
	background: var(--color-primary);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo h1 {
	font-size: 3rem;
}

nav .links-nav {
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
}

nav .links-nav a {
	font-size: 1.3rem;
	color: var(--color-text);
	transition: 0.5s;
	cursor: pointer;
}

nav .links-nav a:hover {
	color: var(--color-secondary);
}

/*menu-mobile*/
.menu-mobile-icon {
	display: none;
}

@media screen and (max-width: 768px) {
	.header {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
	}

	nav .links-nav {
		justify-content: center;
		align-items: center;
	}

	nav .links-nav a {
		background-color: var(--color-primary-bg);
		padding: 10px 20px;
		border-radius: 4px;
	}

	.menu-mobile-icon {
		display: block;
	}
}

@media screen and (max-width: 450px) {
	.logo h1 {
		font-size: 1.3rem;
	}
}
