header {
	width: 100%;
}

.header-bg {
	background: var(--color-primary);
	border-bottom: 0.1rem solid var(--color-secondary);
	position: relative;
	z-index: 1;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1440px;
	margin: 0 auto;
	padding: 40px 40px;
}

.logo h1 {
	font-size: 3rem;
}

nav .links-nav {
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
}

nav .links-nav a {
	font-size: 1.3rem;
	color: var(--color-text);
	transition: 0.5s;
	cursor: pointer;
	position: relative;
	transition: color 500ms;
}

nav .links-nav a::after {
	content: '';
	display: block;
	height: 2px;
	width: 0px;
	background: var(--color-secondary);
	margin-top: 6px;
	transition: 0.3s;
	position: absolute;
}

nav .links-nav a:hover::after {
	width: 100%;
}

nav .links-nav a:hover {
	color: var(--color-secondary);
}

.navAtivo {
	color: var(--color-secondary) !important;
}

/*corrigir mozila pois barra fica acima*/
/* nav .links-nav a.navAtivo::after {
	width: 100%;
} */

@media screen and (max-width: 800px) {
	.header {
		gap: 50px;
	}
}

/*animition*/
.scale-up-ver-top {
	-webkit-animation: scale-up-ver-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1)
		both;
	animation: scale-up-ver-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-ver-top {
	0% {
		-webkit-transform: scaleY(0.4);
		transform: scaleY(0.4);
		-webkit-transform-origin: 100% 0%;
		transform-origin: 100% 0%;
	}
	100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		-webkit-transform-origin: 100% 0%;
		transform-origin: 100% 0%;
	}
}
@keyframes scale-up-ver-top {
	0% {
		-webkit-transform: scaleY(0.4);
		transform: scaleY(0.4);
		-webkit-transform-origin: 100% 0%;
		transform-origin: 100% 0%;
	}
	100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		-webkit-transform-origin: 100% 0%;
		transform-origin: 100% 0%;
	}
}

[data-fadeIn='fadeInDown'] {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
