#bar-loading {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	height: 2px;
	background-color: #ccc;
}

.progress-bar {
	position: absolute;
	height: 100%;
	background-color: var(--color-secondary);
	animation: progress-animation 4s forwards;
}

@keyframes progress-animation {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

#bar-loading.desactiveLoad {
	display: none;
	transition: 1s forwards;
}
